p.paddedText{
  padding: 0px 15px 15px 15px !important;
}
@media (min-width: 768px) {
  div.fixHeight{
    min-height: 275px !important;
    background: #f3f3f3;
  }
}

@media (min-width: 992px) {
  div.fixHeight{
    min-height: 385px !important;
    background: #f3f3f3;
  }
}

@media (min-width: 1200px) {
  div.fixHeight{
    min-height: 325px !important;
    background: #f3f3f3;
  }
}

@media (min-width: 768px) {
  div.fixHeightDeeper{
    min-height: 275px !important;
    background: #f3f3f3;
  }
}

@media (min-width: 992px) {
  div.fixHeightDeeper{
    min-height: 385px !important;
    background: #f3f3f3;
  }
}

@media (min-width: 1200px) {
  div.fixHeightDeeper{
    min-height: 470px !important;
    background: #f3f3f3;
  }
}
.fadeIn {   
    animation: fadein 0.8s;
    -moz-animation: fadein 0.8s; /* Firefox */
    -webkit-animation: fadein 0.8s; /* Safari and Chrome */
    -o-animation: fadein 0.8s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}