	<div class="modal-header">Education</div>
	<div class="modal-body">
		<div>
          <img id="#profile_image" class="img-thumbnail" src="img/chalmers_logo.png" alt="Chalmers">
        </div>
		<h3>Chalmers University of Technology</h3>
		<i>Master of Software Engineering</i>
		<br>
		Gothenburg, Sweden
		<br>
		<br>
		<br>
		<br>
		<p>
			I spent five years studying IT at Chalmers, Gothenburg.
		</p>
		<br>
		<br>
		<div>
          <img id="#profile_image" class="img-thumbnail" src="img/knuthahn_logo.jpg" alt="Knut Hahnsskolan">
        </div>
		<h3>Gymnasieskolan Knut Hahn</h3>
		<i>Teknikprogrammet</i>
		<br>
		Ronneby, Sweden
		<br>
		<br>
		<br>
		<br>
	</div>
