	<div class="modal-header">Education</div>
	<div class="modal-body">
		<div>
          <img id="#profile_image" class="img-thumbnail" src="img/chalmers_logo.png" alt="Chalmers">
        </div>
		<h3><b>Chalmers University of Technology</b></h3>
		<i>Master of Software Engineering</i>
		<br>
		Gothenburg, Sweden
		<br>
		<br>
		<br>
		<br>
		<p>
			I spent five years studying IT at Chalmers, Gothenburg. The programme gave me an understanding of 
			modern software development as well as a mathematical ground. During my five years I spent time working with several different techniques such as databases(SQL), assembler- and C-coding, network communication and a lot more.
			<br>
			<br>
			The core language of my education was Java which is still today the language that I feel most comfortable with.
			<br>
			<br>
			<h4><b>Master in Software Engineering</b></h4>
			During my Master I read a lot of courses which handled the subject of software processes. I learned a lot about things that are considered as soft parts in the development cycle, such as requirements engineering, project management, software architecture etc.
			<br>
			<br>
			<h4><b>Example courses</b></h4>
			Requirements Engineering | Project Management | Software Development
		</p>
		<br>
		<br>
		<div>
          <img id="#profile_image" class="img-thumbnail" src="img/knuthahn_logo.jpg" alt="Knut Hahnsskolan">
        </div>
		<h3>Gymnasieskolan Knut Hahn</h3>
		<i>Teknikprogrammet</i>
		<br>
		Ronneby, Sweden
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		At <i>teknikprogrammet</i> I learned the basics of math and started to explore the world of software development. I wrote my first program in C++, made my first web page using DreamWeaver(!) and played around with photoshop and 3D Studio Max.
		<br>
		<br>
		<h4><b>Example courses</b></h4>
		Mathematics | Programming | All-round education	
	</div>
