<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
        <a class="navbar-brand" ui-sref="index.html">olapetersson.se - site under construction!!!</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
          <li ui-sref-active="active">
            <a ui-sref="home" >Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="career">Career</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="projects">Projects</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="blog">Blog</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="contact">Contact</a>
          </li>
          </ul>
    </div>
  </div>
</div>